button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    background-color: white;
    cursor: pointer;
    border: 1px solid whitesmoke;
}
/* dashboard */
.container {
    border: 1px solid whitesmoke;
    border-radius: 2rem;
    box-shadow: 3px 3px whitesmoke;
}
/* signin */
.profile {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}
.profile-name-dp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.profile-img {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}
.sign-in-btn {
    display: flex;
    justify-content: end;
    margin-right: 2rem;
}

/* header */
.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}
.toggler {
    display: flex;
    justify-content: center;
}
.toggler > span {
    border: 1px solid whitesmoke;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

/* commment post */
.comment-post {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-left: 2rem;
    border: 1px solid whitesmoke;
    border-radius: 2rem;
    box-shadow: 3px 3px whitesmoke;
    margin: 1rem;
    padding: 2rem;
}
.comment-content {
    margin: 1rem 0;
    font-size: 0.88rem;
}
.show-more-btn {
    color: gray;
    font-weight: 600;
}
.post-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    color: lightgray;
    gap: 1rem;
}
.post-footer > span {
    cursor: pointer;
}
.reply-btn-post {
    font-weight: 600;
}
